/* Alert.css */
.alert {
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 4px;
  font-size: 1rem;
}

.alert-info {
  background-color: #e7f3fe;
  color: #3178c6;
}

.alert-success {
  background-color: #d4edda;
  color: #155724;
}

.alert-warning {
  background-color: #fff3cd;
  color: #856404;
}

.alert-error {
  background-color: #f8d7da;
  color: #721c24;
}
